<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doses</title>
</head>
<body>

<section>

<form  action="/doses" method="post">
<input type="text" name="name" id="name">
<button type="submit" >Add doses</button>
@if(flashMessages.has('errors.name'))
<p>
{{flashMessages.get('errors.name')}}
</p>
  
@endif

</form>


</section>

<section>
@each(dose in doses)
<ul><li> {{dose.name}} </li></ul>
 
@endeach
</section> 
    
</body>
</html>